on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.17.x]
        openssl-version-build: [1.0.2, 1.1.0, 1.1.1, 3.0.1]
        openssl-version-test: [1.0.2, 1.1.0, 1.1.1, 3.0.1]
    runs-on: ubuntu-20.04
    steps:
    - name: Install build tools
      run: sudo apt-get install -y build-essential
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install OpenSSL - Build
      run: sudo sh ./scripts/openssl.sh ${{ matrix.openssl-version-build }}
    - name: Set OpenSSL config
      run: sudo cp ./scripts/openssl-3.cnf /usr/local/ssl/openssl.cnf
      if: ${{ matrix.openssl-version-build == '3.0.1' }}
    - name: Check headers
      working-directory: ./cmd/checkheader
      run: go run . --ossl-include /usr/local/src/openssl-${{ matrix.openssl-version-build }}/include ../../openssl/openssl_funcs.h
      if: ${{ matrix.openssl-version-build == matrix.openssl-version-test }}
    - name: Run Test - Build
      run: go test -v ./...
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-build }}
    - name: Build Test - Build
      run: go test -o test -c ./openssl
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-build }}
    - name: Install OpenSSL - Test
      run: sudo sh ./scripts/openssl.sh ${{ matrix.openssl-version-test }}
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
    - name: Run Test 2 - Test
      run: ./test -test.v
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-test }}