on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.17.x]
        openssl-version-build: [1.0.2, 1.1.0, 1.1.1]
        openssl-version-test: [1.0.2, 1.1.0, 1.1.1]
        exclude:
          # The following combinations are still not supported.
          - openssl-version-build: 1.1.0
            openssl-version-test: 1.0.2
          - openssl-version-build: 1.1.1
            openssl-version-test: 1.0.2
    runs-on: ubuntu-20.04
    steps:
    - name: Install build tools
      run: sudo apt-get install -y build-essential
    - name: Remove libssl-dev
      run: sudo apt-get remove -y libssl-dev
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install OpenSSL - Build
      run: sudo bash ./scripts/openssl.bash ${{ matrix.openssl-version-build }}
    - name: Run Test - Build
      run: go test -v ./...
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-build }}
    - name: Build Test - Build
      run: go test -o test -c ./openssl
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-build }}
    - name: Install OpenSSL - Test
      run: sudo bash ./scripts/openssl.bash ${{ matrix.openssl-version-test }}
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
    - name: Run Test 2 - Test
      run: ./test -test.v
      if: ${{ matrix.openssl-version-build != matrix.openssl-version-test }}
      env:
        GO_OPENSSL_VERSION_OVERRIDE: ${{ matrix.openssl-version-test }}